// 黑白灰
$c55:#555;
$c66:#666;
$c22:#222;
$c11:#111;
$c33:#333;
$c37:#373737;
$c44:#444;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$cb5:#b5b5b5;
$ccc:#ccc;
$cf0:#f0f0f0;
$cf8:#f8f8f8;
$cf6:#f6f6f6;
$cdd:#ededed;
$cdf:#dfdfdf;
$cd8:#d8d8d8;
$cee:#eee;
$cf9:#f9f9f9;
$cf7:#F7F7F7;
$cf4:#f3f4f6;
$cfa:#fafafa;
$cf60:#f60;
$c66:#666;
$ce5:#e5e5e5;
$ca3:#a3a3a3;
// 彩色
$red:#F56C6C;
$blue:#409EFF;
$green:#67C23A;
$cyan:#36bc99;
$gold:#CFA67A;
$pink:#EF3030;
$yellow:#E6A23C;
$orange:#FF994A;
